<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />

	<meta charset="utf-8" />

	<title>Planlet - Schedule Selection</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- Bootstrap css -->
	<link href="/css/bootstrap.css" rel="stylesheet" media="screen">
	<!-- Theme css -->
	<link href="/css/colorfrog.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
		type='text/css'>
	<link href="/favicon.ico" rel="shortcut icon" type="/image/x-icon" />
	<script src="/js/respond.min.js"></script>

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/jquery.fitvids.js"></script>
	<script src="/js/daypilot-all.min.js"></script>
	<script src="/js/possible-schedules.js"></script>
	<script src="/js/colorfrog.js"></script>
	<link rel="stylesheet" href="/css/planlet.css">
	<link type="text/css" rel="stylesheet" href="/css/calendar_green.css" />
	<link rel="stylesheet" href="/css/schedule_style.css">


<!--
	<link rel="stylesheet" href="/path/to/bootstrap.min.css">
	<script src="/path/to/jquery.min.js"></script>
	<script src="/path/to/bootstrap.min.js"></script>
	<script src="/path/to/moment-with-locales.min.js"></script>
	<script src="/path/to/jquery.touchSwipe.min.js"></script>
	<script src="/path/to/bootstrap-<a href="https://www.jqueryscript.net/time-clock/">date</a>timepicker.min.js"></script>-->

	<!--[if lt IE 9]>
	<script>
		document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
	</script>
<![endif]-->

</head>

<body class="blue">


	<!--what will show when schedule is clicked on-->
	<div id="commSchedule">
		<button style="font-size: 30px;float: left; background-color: white; color: #029fe2;" class="btn" onclick="hideNewSchedule()"><i class="far fa-arrow-alt-circle-left"></i></button>
		<br><br>
		<div class="upclose">
			<div id="DP"></div>
		</div>
		<br><br>


		<br><br>
		<br>
		<footer>
			<div class="container" style="width: 100%; padding: 0px;">
				<button style="border-radius: 0px;" class="btn btn-lg" onclick="sendToEmail()">Send to Email</button>
				<button style="border-radius: 0px; float: right;" id="starButt" class="btn btn-lg " onclick="starSchedule()"><i class="fas fa-star"></i></button>
			</div>
			<!--//end container -->
		</footer>
	</div>



	<!--initial page-->
	<div id="possSchedules">
		<div class="container" style="padding: 0px;">
			<!--<a href="/classes/{{majorName}}/{{minorName}}/{{collegeName}}"><button id="newSchedule">Start New Schedule</button></a>-->
			<a href="/userinfo/{{majorName}}/{{minorName}}/{{collegeName}}"><button class="settings"> </button></a>
		</div> <!-- //end container -->
		<div class="jumbotron">
			<div class="container">
				<h5>Here are all your possible schedules.</h5>
				<h6>Use the filters to find what works for you.</h6>
			</div>
		</div> <!-- //end hero-unit -->

		<div class="container content underHero">
			<div class="row">
				<div class="col-sm-12">
					<div class="filters" style="display: flex; align-items: center; justify-content: space-around;">
						<div style="height: 100%;">
							<a href="#" data-filter="all" class="filter active-filter" style="font-size: 23px;">All</a>
							<br><br><a href="#" data-filter="starred" class="filter" style="font-size: 20px;"><i style="color: #ffff41;" class="fas fa-star"></i></a>
						</div>
						<div style="height: 100%;"><label>Filter By # of Classes:</label>
							<br><a href="#" class="filter" data-filter="3">3</a>
							<a href="#" class="filter" data-filter="4">4</a>
							<a href="#" class="filter" data-filter="5">5</a>
							<br><label style="margin-top: 10px;">Filter By Time Preference:</label>
							<br><a href="#" class="filter" data-filter="morning">Morning</a>
							<a href="#" class="filter" data-filter="afternoon">Afternoon</a>
						</div>
					</div>
				</div>
			</div> <!-- //end row -->
			<br>
			<div  class="filterContent">

				<div class="filter-all" id="class-filter">




				</div> <!-- //end filter-all -->





				<div class="filter-custom">

				</div> <!-- //end filter custom -->

			</div> <!-- //end filter content -->
		</div> <!-- //end container -->
		<br><br>
		<br>
		<footer>
			<div class="container" style="width: 100%; padding: 0px;">
				<a href="/classes/{{majorName}}/{{minorName}}/{{collegeName}}"><button
						class="btn bckBtn">Back</button></a>
			</div>
			<!--//end container -->
		</footer>
	</div>



</body>

</html>